# Registry configuration for NAV packages
@navikt:registry=https://npm.pkg.github.com

# Authentication token will be provided via environment variable
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
