name: Build and deploy main

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: read
    steps:
      - uses: actions/checkout@v5
      - uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: appsec
          dockerfile: Dockerfile
          docker_context: .
          build_secrets: NODE_AUTH_TOKEN=${{ secrets.READER_TOKEN }}
    outputs:
      image: ${{ steps.docker-push.outputs.image }}
      telemetry: ${{ steps.docker-push.outputs.telemetry }}

  deploy-prod:
    needs: build-and-push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/nais.yaml
          IMAGE: ${{ needs.build-and-push.outputs.image }}
          TELEMETRY: ${{ needs.build-and-push.outputs.telemetry }}